# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Production
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
